@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 56% 91%;
    --foreground: 24 10% 10%;
    --card: 60 56% 94%;
    --card-foreground: 24 10% 10%;
    --popover: 60 56% 94%;
    --popover-foreground: 24 10% 10%;
    --primary: 30 100% 60%;
    --primary-foreground: 24 10% 10%;
    --secondary: 30 90% 85%;
    --secondary-foreground: 24 10% 10%;
    --muted: 60 30% 88%;
    --muted-foreground: 24 5% 45%;
    --accent: 51 100% 50%;
    --accent-foreground: 24 10% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 60 25% 85%;
    --input: 60 25% 88%;
    --ring: 30 100% 60%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 24 10% 10%;
    --foreground: 60 56% 91%;
    --card: 24 10% 13%;
    --card-foreground: 60 56% 91%;
    --popover: 24 10% 10%;
    --popover-foreground: 60 56% 91%;
    --primary: 30 100% 60%;
    --primary-foreground: 24 10% 10%;
    --secondary: 30 60% 25%;
    --secondary-foreground: 60 56% 91%;
    --muted: 24 10% 15%;
    --muted-foreground: 60 20% 70%;
    --accent: 51 100% 50%;
    --accent-foreground: 24 10% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 24 10% 20%;
    --input: 24 10% 20%;
    --ring: 30 100% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
